body {
    background-image: url("../images/light_wool.png");
}

* {
    box-sizing: border-box;
}

h1 {
    color: #4aaaa5;
}

#masthead {
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#navcontainer {
    max-width: 60%;
}

.inner-container {
    background: #4aaaa5;
}

#logo {
    color: #ffffff;
}

.pagesection {
    padding-top: 70px;
    padding-bottom: 70px
}

#main-container {
    background: #ffffff;
    max-width: 60%;
}

footer {
    background: #666666;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    height: 65px;
}

.btn {
    background: #4aaaa5;
    color: #ffffff;
}
