body {
    background-image: url("../images/light_wool.png");
}

* {
    box-sizing: border-box;
}

#masthead {
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#logo {
    background: #4aaaa5;
    color: #ffffff;
}

#main-container {
    background: #ffffff;
}

footer {
    background: #666666;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
}

.btn {
    background: #4aaaa5;
    color: #ffffff;
}
